<!-- SamuraiCRM/engines/core/app/views/samurai/dashboard/index.html.erb -->
<h2>Dashboard</h2>
<hr>

<div class='row'>
  <!-- The Dashboard Hook -->
  <span data-samurai-hook='dashboard'></span>
</div>